// Game settings

show_level = true
show_debug = true
show_legend = true
show_stats = true
show_ui = true
show_overlay = true
show_level_stats = false
show_player_stats = false
show_enemy_stats = false
show_platform_stats = false
show_physics = false
show_culling = false
show_profiler = false
show_nodes = false

clamp_camera = true
spawn_enemies = true
spawn_collectables = true
spawn_interactables = true
multi_jump = false
assert_timeout_ms = 10000
font = res/fonts/debug.gpb

// Tools settings

run_tools = false
run_tools_only = false

android_sdk_tools_dir = <insert_path>
android_ndk_dir = <insert_path>
ant_dir = <insert_path>
inkscape_dir = <insert_path>

clean_android = false
generate_android = false
num_android_compile_jobs = 4
build_android = false
deploy_android = false
export_textures = false
convert_json = false
