window
{
    title = Platformer
    width = 1280
    height = 720
    fullscreen = false
    vsync = true
}

gamepad
{
    form = res/ui/gamepad.form
}

aliases
{
    res/textures = res/textures
    res/textures/gamepad = res/textures/gamepad.png
    res/textures/enemy = res/textures/enemy.png
    res/textures/options = res/textures/options.png
    res/textures/tiles = res/textures/tiles.png
    res/textures/enemies = res/textures/enemy.png
    res/textures/player = res/textures/player.png
    res/textures/screen = res/textures/screen.png
    res/textures/bg = res/textures/bg.png
    res/textures/interactables = res/textures/interactables.png
    res/textures/collectables = res/textures/collectables.png
    res/textures/water = res/textures/water.png
    res/textures/water-noise = res/textures/water-noise.png
}

boot
{
    textures
    {
        @res/textures/screen
    }

    spritesheets
    {
        res/spritesheets/screen.ss
    }

    level = res/levels/0.level
}

properties_directories
{
    res/audio = true
    res/gameobjects = false
    res/levels = false
    res/parallax = false
    res/physics = true
    res/scenes = false
    res/spritesheets = false
}
